<section class="main">
    <header class="header">
        <div class="menu">
            <div class="burger"><span class="line"></span></div>
                <nav class="menu__hidden">
                    <div class="menu__item"><a href="" class="menu__link">Home</a></div>
                    <div class="menu__item"><a href="" class="menu__link">About Us</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Portfolio</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Features</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Blog</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Pricing</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Shortcodes</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Contact</a></div>
                </nav>
                <div class="menu__icons">
                    <img src="/assets/img/icons/cart.png" alt="cart" class="icons_action">
                    <img src="/assets/img/icons/search.png" alt="search" class="icons_action">
                </div>
        </div>
    </header>
    <div class="main-block">
        <h2 class="main-subtitle">Unique and Modern Design</h2>
        <h1 class="main-title">Portfolio PSD Template</h1>
        <div class="main-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imper- <br> diet doming id quod mazim placerat facer possim assum.</div>
        <button class="button">Get Started</button>
    </div>
    
</section>